
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  position: absolute;
  top: 8%;
  left: 25%;
  transform: translateY(-8px);
  transform: translateX(-25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  min-width: 500px;
  padding: 50px 100px;
  border: 3px solid rgba(5, 5, 5, 0.6);
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 20px;
}


.input {
  width: 400px;
  display: inline-block;
  border: none;
  border-radius: 10px 0 10px 0;
  outline: none;
  background-color: rgba(255, 255, 255, 0.471);
  border-bottom: 3px solid orange;
  padding: 10px 15px;
}

.input::placeholder {
  color: black;
  font-weight: 600;
}

.input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.885);
  border-radius: 0px 10px 0px 10px;
}

.weather-heading {
  font-size: 100px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.618);
}

.weather-country {
  font-size: 50px;
  font-weight: 500;
  color: dodgerblue;
}

.weather {
  font-size: 40px;
  font-weight: 500;
  font-style: italic;
}

.weather-speed {
  font-size: 40px;
  font-weight: 500;
  font-style: italic;
  color: rgba(0, 0, 0, 0.618);
}

.wrapper img {
  margin-left: 10px;
  border-radius: 50%;
  align-self: flex-end;
}

.min-temp {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.618);
  font-weight: 600;
}

.max-temp {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.618);
  font-weight: 600;
}